---
import Icon from "../Icons/Icon.astro";
import Github from "../Icons/Github.astro";
import Hamburger from "../Icons/Hamburger.astro";
import Close from "../Icons/Close.astro";

type Icon = {
  pack: string;
  name: string;
  enabled: boolean;
};

type Page = {
  name: string;
  url: string;
  icon?: Icon;
};

const pages: Page[] = [
  {
    name: "Blog",
    url: "/blog",
    icon: {
      pack: "mdi",
      name: "blog-outline",
      enabled: false,
    },
  },
  {
    name: "Projects",
    url: "/projects",
    icon: {
      pack: "ant-design",
      name: "project-outlined",
      enabled: false,
    },
  },
  {
    name: "Resume",
    url: "/cv",
    icon: {
      pack: "pepicons-pop",
      name: "cv",
      enabled: false,
    },
  },
];

const backgroundColorForPageLink = (page: Page): Record<string, boolean> => ({
  "bg-color-4": Astro.url.pathname.includes(page.url),
  "text-color-1": Astro.url.pathname.includes(page.url),
});

const hasIcon = (
  page: Page,
): page is Omit<Page, "icon"> & { icon: NonNullable<Page["icon"]> } => {
  return page.icon !== undefined && page.icon.enabled;
};
---

<script lang="ts">
  const hamburgerToggle = document.querySelector("[hamburger-toggle]");

  console.log(hamburgerToggle);

  hamburgerToggle?.addEventListener("click", () => {
    toggleHamburger();
  });

  const toggleHamburger = () => {
    console.log("toggle");
    hamburgerToggle.classList.toggle("hidden");
    hamburgerToggle.classList.toggle("inline-flex");
  };
</script>

<header class="flex flex-row p-5 justify-between text-2xl">
  <a href="/">
    <Icon pack="ic" name="round-home" />
  </a>
  <nav class="w-max flex-row hidden md:flex">
    <ul class="flex gap-4 h-full">
      {
        pages.map((page) => (
          <li
            class:list={[
              "h-full flex flex-col justify-center p-1",
              { ...backgroundColorForPageLink(page) },
            ]}
          >
            <a title={page.name} href={page.url}>
              {hasIcon(page) ? (
                <Icon pack={page.icon.pack} name={page.icon.name} />
              ) : (
                page.name
              )}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <nav class="flex gap-3">
    <label class="block md:hidden" hamburger-toggle>
      <input
        type="checkbox"
        name="hamburger-input"
        id="hamburger-input"
        class="peer hidden"
      />

      <!-- Do this thios way so that we can correctlyu use the sibling selector -->
      <div class="items-center hidden peer-checked:inline-flex">
        <Close />
      </div>
      <div class="inline-flex items-center peer-checked:hidden">
        <Hamburger />
      </div>
    </label>

    <div class="hidden">Boas</div>

    <a href="https://github.com/Naapperas">
      <Github />
    </a>
  </nav>
</header>
