---
import Close from "../Icons/Close.astro";
import Github from "../Icons/Github.astro";
import Hamburger from "../Icons/Hamburger.astro";
import Home from "../Icons/Home.astro";

import NavLink from "./Nav/Link.astro";

import { type Page } from "./Nav/Link.astro";

interface Props {
    pages: Page[];
    customClasses?: string;
}

const { pages, customClasses } = Astro.props;
---

<header
    class="flex flex-row p-5 justify-between text-2xl relative bg-color-background-dark items-center"
    class:list={customClasses}
>
    <a href="/">
        <Home />
    </a>
    <nav class="flex gap-3 items-center">
        <label
            id="nav-menu-mobile"
            class="flex items-center md:hidden relative"
        >
            <input
                id="menu-input"
                type="checkbox"
                name="hamburger-input"
                id="hamburger-input"
                class="peer hidden"
            />

            <!-- Do this this way so that we can correctly use the sibling selector -->
            <div class="items-center hidden peer-checked:inline-flex">
                <Close />
            </div>
            <div class="inline-flex items-center peer-checked:hidden">
                <Hamburger />
            </div>
        </label>

        <a href="https://github.com/Naapperas">
            <Github />
        </a>
    </nav>
    <nav
        id="menu-items"
        class="transition-[height] hidden h-0 md:hidden px-20 pb-2 bg-color-background-dark absolute w-full top-16 left-0 z-10"
    >
        <ul
            class="flex flex-col gap-2 items-center text-2xl border-y py-1 border-opacity-95"
        >
            {
                pages.map((page) => (
                    <NavLink
                        page={page}
                        linkClasses="hover:bg-opacity-35 hover:bg-color-primary w-full h-full text-center py-2 px-4 rounded-md"
                    />
                ))
            }
        </ul>
    </nav>
</header>

<script lang="ts">
    const elem = document.querySelector("#menu-input");

    if (elem) {
        elem.checked = false;

        elem?.addEventListener("click", () => {
            const mobileNav = document.querySelector("#menu-items");

            if (!mobileNav) return;

            mobileNav.classList.toggle("h-0");
            mobileNav.classList.toggle("hidden");
        });
    }
</script>
