---
import Github from "../Icons/Github.astro";
import Home from "../Icons/Home.astro";

import NavLink from "./Nav/Link.astro";

import { type Page } from "./Nav/Link.astro";

interface Props {
    pages: Page[];
    customClasses?: string;
}

const { pages, customClasses } = Astro.props;
---

<header
    class="flex flex-row p-5 justify-between text-2xl"
    class:list={customClasses}
>
    <a href="/">
        <Home />
    </a>
    <nav class="w-max">
        <ul class="flex divide-x divide-color-primary h-full">
            {pages.map((page) => <NavLink page={page} />)}
        </ul>
    </nav>
    <a href="https://github.com/Naapperas">
        <Github />
    </a>
</header>
