---
import PageLayout from "../../layouts/Page.astro";

import InteractiveMap from "../../components/Page/Places/InteractiveMap.astro";
---

<PageLayout
    title="Places"
    bgColor="bg-color-background-light"
    contentTitle="Places I have been"
    description="I love traveling. These are some of the places I have been to and the stories behind them:"
>
    <section
        class="relative w-full flex-1 bg-red-500 flex items-center justify-center"
    >
        <InteractiveMap />
    </section>
</PageLayout>
