---
import { Image } from "astro:assets";

import banner from "./me.jpg";
---

<header class="flex flex-col md:flex-row gap-10 md:mt-40 w-4/5 md:w-3/5">
    <Image
        src={banner}
        alt="Home Page Banner"
        class="rounded-2xl self-center max-md:w-1/2 md:max-w-none md:w-3/5"
    />
    <div class="border border-color-4 opacity-25 hidden md:inline-block flex-1">
    </div>
    <div class="flex flex-col gap-3 justify-center text-justify">
        <h1 class="text-6xl font-bold text-center md:text-start">
            Hi, I'm <span class="text-color-5">Nuno</span>.
        </h1>
        <p class="text-color-4">
            I'm an Informatics and Computing Engineering Masters student @ <a
                href="https://sigarra.up.pt/feup/pt/web_page.inicial"
                target="_blank"
                class="underline">FEUP</a
            > in Porto, Portugal.
        </p>
        <p class="text-color-4 text-wrap">
            I'm a passionate learner and a curious person. I love to wrap my
            head around complex problems and find solutions to them.
        </p>
        <p class="text-color-4 text-wrap">
            My main topics of interest are <span class="text-color-5"
                >System Design</span
            > and <span class="text-color-5">Backend Development</span>. I also
            love working in the field of <span class="text-color-5">DevOps</span
            > and <span class="text-color-5">Computer Networking</span> although
            I'm not as skilled in those.
        </p>
    </div>
</header>
