---
import Icon, { icons, type IconTags } from "../../Icons/index.astro";

export interface Props {
    techStack: {
        backend: string[];
        frontend: string[];
    };
}

const { techStack } = Astro.props;
---

<section class="technology-list">
    <h2 class="text-lg">Frontend technologies used:</h2>
    <ul class="flex gap-3">
        {
            techStack.frontend.map((tech) => (
                <li class="p-1 inline-flex items-center">
                    {tech in icons ? (
                        <Icon name={tech as IconTags} />
                    ) : (
                        <span>{tech}</span>
                    )}
                </li>
            ))
        }
    </ul>
</section>
<section class="technology-list">
    <h2 class="text-lg">Backend technologies used:</h2>
    <ul class="flex gap-3">
        {
            techStack.backend.map((tech) => (
                <li class="p-1 inline-flex items-center">
                    {tech in icons ? (
                        <Icon name={tech as IconTags} />
                    ) : (
                        <span>{tech}</span>
                    )}
                </li>
            ))
        }
    </ul>
</section>
