---
import type { CollectionEntry } from "astro:content";

import Simple from "./Simple.astro";
import Detailed from "./Detailed.astro";

export interface Props {
    techStack: Required<CollectionEntry<"project">["data"]>["techStack"];
}

const { techStack } = Astro.props;
---

<section class="project-technologies">
    {
        Array.isArray(techStack) ? (
            <Simple techStack={techStack} />
        ) : (
            <Detailed techStack={techStack} />
        )
    }
</section>

<!-- FIXME: This is not ideal, but it works for now for passing styles down to the child components. -->
<style is:global>
    .technology-list {
        /* tech styles */
        display: flex;
        flex-wrap: wrap;

        justify-content: center;

        gap: 1rem;

        list-style: none;
    }
</style>
