---
import Icon, { icons, type IconTags } from "../../Icons/index.astro";

export interface Props {
    techStack: string[];
}

const { techStack } = Astro.props;
---

<h2 class="text-lg">Technologies used:</h2>
<ul class="technology-list flex gap-3">
    {
        techStack.map((tech) => (
            <li class="p-1 inline-flex items-center">
                {tech in icons ? (
                    <Icon name={tech as IconTags} />
                ) : (
                    <span>{tech}</span>
                )}
            </li>
        ))
    }
</ul>
