---
import Layout from "../layouts/Content.astro";

// TODO: make this good
---

<Layout title="404: Not Found">
    <h1>Looks like the page you attempted to reach does not exist</h1>
    <a href="/">Go back to the homepage</a>
</Layout>
