---
import Layout from "../layouts/Content.astro";

// TODO: make this good
---

<Layout title="404: Not Found">
    <h1 class="text-3xl">
        Looks like the page you attempted to reach does not exist.
    </h1>
    <span class="text-lg">
        Go back to the <a class="hover:underline" href="/">homepage</a>
    </span>
</Layout>
