---
const pages = [
    {
        name: "About",
        url: "/about",
    },
    {
        name: "Contact",
        url: "/contact",
    },
    {
        name: "Blog",
        url: "/blog",
    },
    {
        name: "Projects",
        url: "/projects",
    },
    {
        name: "Resume",
        url: "/cv.pdf",
    },
] as const;
---

<header class="top-bar">
    <a href="/"><span class="material-symbols-outlined"> home</span></a>
    <nav class="links">
        {
            pages.map((page) => (
                <a
                    class:list={[
                        "nav-link",
                        { selected: Astro.url.pathname === page.url },
                    ]}
                    href={page.url}
                >
                    {page.name}
                </a>
            ))
        }
    </nav>
</header>
<style>
    .top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin: 0 1rem;
        font-size: 1.5rem;
        border-bottom: 1px solid #e5e5e5;
    }

    .links {
        display: flex;
        flex-direction: row;
    }

    .nav-link {
        margin-left: 1rem;
        padding: 0.2em;
    }

    .nav-link.selected {
        background-color: var(--color-4);
        color: var(--color-1);
        border-radius: 5%;
    }
</style>
