---
import Chip from "./Chip.astro";

interface Props {
    labels: string[];
    caption?: string;
}

const { labels, caption } = Astro.props;
---

{caption ? <h3>{caption}</h3> : null}
<ul class="chip-list">
    {
        labels.map((label) => (
            <li>
                <Chip label={label} />
            </li>
        ))
    }
</ul>

<style>
    .chip-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }
</style>
