---
---

<footer>
    <p>Built with <a href="https://astro.build">{Astro.generator}</a></p>
</footer>
<style>
	footer {
        margin: 0 auto;
        text-align: center;
        padding: 1rem;
        justify-content: center;
	}
</style>
