---
import type { CollectionEntry } from "astro:content";

interface Props {
    project: CollectionEntry<"project">["data"];
}

const { project } = Astro.props;
---
<article class="project-card">
    <a href={project.upstreamLink}>Temporary link: remove me</a>
    <header>
        <h2>{project.name}</h2>
        <p>{project.description}</p>
    </header>
</article>
<style>
    .project-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        max-width: 75%;
        margin: 1rem auto;
        border-radius: 0.5rem;
        background-color: var(--color-bg);
        box-shadow: 0 0 0.5rem var(--color-shadow);
        transition: box-shadow 0.2s ease-in-out;
    }
</style>
