---
import { getCollection } from "astro:content";

import ProjectCard from "../../components/Project/Card.astro";
import PageLayout from "../../layouts/Page.astro";

const projects = await getCollection("project");
---

<PageLayout
  title="Projects"
  contentTitle="Projects"
  description="These are some of the projects I have developed so far:"
>
  <section class="">
    {projects.map((entry) => <ProjectCard project={entry} />)}
  </section>
</PageLayout>
