---
import { getCollection } from "astro:content";
import type { Project as ProjectType } from "../../content/config";

import Project from "../../components/Project.astro";
import Layout from "../../layouts/Layout.astro";

const projects = await getCollection("project");
---

<Layout title="Projects">
    <header>
        <h2>Projects</h2>
        <p>These are some of the projects I have developed so far:</p>
    </header>
    {
        projects.map((entry, i) => (
            <Project
                project={entry.data as ProjectType}
                inverted={i % 2 === 1}
            />
        ))
    }
</Layout>

<style></style>
