---
import { getCollection } from "astro:content";

import ProjectCard from "../../components/Project/Card.astro";
import PageLayout from "../../layouts/Page.astro";

const projects = await getCollection("project");
---

<PageLayout
  title="Projects"
  contentTitle="Projects"
  description="These are some of the projects I have developed so far:"
>
  <section class="grid grid-flow-dense grid-cols-3 gap-3 pt-5">
    {projects.map((entry) => <ProjectCard project={entry} />)}
  </section>
</PageLayout>
