---
import { getCollection } from "astro:content";

import ProjectCard from "../../components/ProjectCard.astro";
import Layout from "../../layouts/Content.astro";

const projects = await getCollection("project");
---

<Layout title="Projects">
    <header>
        <h2>Projects</h2>
        <p>These are some of the projects I have developed so far:</p>
    </header>
    <section class="project-list">
        {projects.map((entry) => <ProjectCard project={entry} />)}
    </section>
</Layout>

<style>
    .project-list {
        display: grid;
    }
</style>
