---
import Chip from "./index.astro";

import Icon, { type IconTags, icons } from "../Icons/index.astro";

interface Props {
  labels: string[];
  caption?: string;
}

const { labels, caption } = Astro.props;
---

<div class="w-full">
  {caption ? <h3>{caption}</h3> : null}
  <ul class="flex gap-2 flex-wrap justify-between">
    {
      labels.map((label) => (
        <li class="p-1 inline-flex items-center">
          {label in icons ? (
            <Icon name={label as IconTags} />
          ) : (
            <Chip label={label} />
          )}
        </li>
      ))
    }
  </ul>
</div>
