---
import Chip from "./index.astro";

interface Props {
  labels: string[];
  caption?: string;
}

const { labels, caption } = Astro.props;
---

<div>
  {caption ? <h3>{caption}</h3> : null}
  <ul class="chip-list">
    {
      labels.map((label) => (
        <li>
          <Chip label={label} />
        </li>
      ))
    }
  </ul>
</div>
