---
import Footer from "../components/Footer.astro";
import AppBar from "../components/AppBar/index.astro"

export interface Props {
	title: string;
	children: unknown;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-color-1 text-color-4">
		<AppBar />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--color-bg: white;
		--color-shadow: rgba(0, 0, 0, 0.1);
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	html {
		font-family: system-ui, sans-serif;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}

</style>
