---
import Base, { type Props as BaseProps } from "./Base.astro";

export interface Props extends BaseProps {}

const { title } = Astro.props;
---

<Base title={title}>
  <main class="w-screen content-center">
    <slot />
  </main>
</Base>
