---
import Base, { type Props as BaseProps } from "./Base.astro";

export interface Props extends BaseProps {}

const { title } = Astro.props;
---

<Base title={title}>
  <main class="px-28 py-16 content-center flex-1">
    <slot />
  </main>
</Base>
