---
import Base, { type Props as BaseProps } from "./Base.astro";

export interface Props extends BaseProps {}

const { title } = Astro.props;
---

<Base title={title}>
  <main class="px-10 py-8 items-center flex-col flex-1 flex">
    <slot />
  </main>
</Base>
