@use 'colors';
@use 'custom';

html {
    margin: 0;
    padding: 0;
    background-color: colors.$background;
    color: colors.$foreground;
}

a {
    text-decoration: none;
    color: inherit;
}

.verticalLineLeft {
    @include custom.verticalLine(left, colors.$foreground);
}

.verticalLineRight {
    @include custom.verticalLine(right, colors.$foreground);
}

body {

    margin: inherit;
    padding: inherit;

    header {
        width: 100%;
        height: 40px;
        margin-top: 5px;

        .line {

            border-bottom: 1px solid colors.$foreground;
            width: 97%;
            margin: auto;

            position: relative;
            bottom: 1%;
        }

        .right {
            position: relative;
            display: flex;
            right: 0;

            .headerEntry {
                padding: 10px;
                margin-bottom: 5px;
            }
        }
    }
}